.titulo {
    background-color: rgb(89, 127, 159);
    color: rgb(255, 255, 4);
    text-align: center;
    padding: 30px;
    border-radius: 15%;
    width: 70px;

}

.subtitulo {
    background-color: blueviolet;
    color: lawngreen;
    text-align: center;
    padding: 57px;
    border-radius: 45%;
    width: 46px;

}

.fondo {
    background-color: aquamarine;
}